*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-box{
    width: 80px;
    height: 500px;
    margin: 10px;
    border-radius: 30px;
    background: url("hashiras/giyu tomioka.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
    filter: grayscale(100%);
}
.img-box:nth-child(2){
    background: url("hashiras/Gyomei Himejima.jpg");
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(3){
    background: url("hashiras/muchiro Tokito.jpeg");
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(4){
    background: url("hashiras/Obanai Iguro.jpg");
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(5){
    background: url("hashiras/Sanemi Shinazugawa.jpeg");
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(6){
    background: url("hashiras/Tengen Uzui’.jpeg");
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(7){
    background: url("hashiras/☆ Rengoku Kyoujoro.jpeg");
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(8){
    background: url("hashiras/𝐒𝐡𝐢𝐧𝐨𝐛𝐮 𝐊𝐨𝐜𝐡𝐨💜🔮🦋.jpeg");
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(9){
    background: url("hashiras/233992.jpg");
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(10){
    background: url("hashiras/Tanjiro.jpeg");
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(11){
    background: url("hashiras/Inozuke.jpeg");
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(12){
    background: url("hashiras/Zenitsu.jpeg");
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(1):hover{
    box-shadow: 5px 5px 10px rgb(88, 145, 204);
}
.img-box:nth-child(2):hover{
    box-shadow: 5px 5px 10px rgb(163, 37, 39);
}
.img-box:nth-child(3):hover{
    box-shadow: 5px 5px 10px rgb(1, 113, 96);
}
.img-box:nth-child(4):hover{
    box-shadow: 5px 5px 10px rgb(81, 85, 81);
}
.img-box:nth-child(5):hover{
    box-shadow: 5px 5px 10px rgb(29, 43, 46);
}
.img-box:nth-child(6):hover{
    box-shadow: 5px 5px 10px rgb(104, 159, 200);
}
.img-box:nth-child(7):hover{
    box-shadow: 5px 5px 10px rgba(249, 160, 49, 0.64);
}
.img-box:nth-child(8):hover{
    box-shadow: 5px 5px 10px rgb(79, 75, 206);
}
.img-box:nth-child(9):hover{
    box-shadow: 5px 5px 10px rgb(144, 30, 132);
}
.img-box:nth-child(10):hover{
    box-shadow: 5px 5px 10px rgb(49, 233, 173);
}
.img-box:nth-child(11):hover{
    box-shadow: 5px 5px 10px rgb(47, 112, 179);
}
.img-box:nth-child(12):hover{
    box-shadow: 5px 5px 10px rgba(255, 164, 0, 0.44);
}


.img-box h3{
    color: white;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}
.img-box:hover{
    width: 300px;
    cursor: pointer;
    border-radius: 10px;
    filter: none;
}
.img-box:hover h3{
    opacity: 1;
    bottom: 25px;
}

/*------*/
